.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  font-weight: bold;
}

.Todo-list{
	display: contents;
	font-weight: 300;
	font-size: calc(20px + 2vmin);
}

.Checkbox{
	vertical-align: middle;
	margin-bottom: 8px;
	margin-right: 12px;
	scale: 1.5;
}

.Delete{
	vertical-align: middle;
	margin-bottom: 4px;
	margin-left: 6px;
	
	font-size: calc(19px);
	border-radius: 50%;
	border-style: none;
	font-weight: 600;

	color: rgb(255, 254, 254);
	background-color: rgba(191, 85, 85, 0.485);
}

.Delete:hover {
	background-color: #b92929; /* Color when hovered over */
  }

